    .container {
        margin: 0 150px 0 150px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .dis-inline {
        color: #333;
    }
    
    .dis-inline p {
        font-weight: 10px;
    }
    
    .float-header {
        float: right;
        margin-top: -50px;
    }
    
    hr {
        width: 100%;
        font-weight: bold;
        margin-top: -15px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        /*grid-template-rows: auto auto auto;*/
        gap: 50px;
        width: 100%;
    }
    
    .grid-container p {
        text-align: justify;
    }
    
    .image-container img {
        width: 100%;
        height: 600px;
    }
    
    .image-container {
        float: right;
        width: 100%;
    }
    
    .flaot-p {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
    }
    
    .topic h1 {
        font-size: 60px;
        letter-spacing: 60px;
        text-align: center;
    }
    
    .topic h4 {
        font-size: 20px;
        letter-spacing: 16px;
        margin-top: -30px;
        text-align: center;
    }